.MediaQueryAbout {
  /*margin: 0 auto;
  display: flex;
  flex-direction: column;*/
  /*border: solid pink 1px;*/
  width: 90%;
  /*margin-top: 13%;*/
  margin: 0 auto;
  padding-top: 3cm;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

.MediaQueryAboutSmall {
  /*margin: 0 auto;
  display: flex;
  flex-direction: column;*/
  /*border: solid pink 1px;*/
  width: 90%;
  /*margin-top: 13%;*/
  margin: 0 auto;
  padding-top: 1cm;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#enno {

font-family: "Avenir Next";
font-weight: 500;
line-height: 2;
/*font-size: 10px;*/

}

#ennoSmall {
  font-family: "Avenir Next";
  font-weight: 500;
  line-height: 2;
  /*font-size: 10px;*/
}

#about {
  letter-spacing: 0.8px;

  font-family: "Avenir Next";
  font-weight:200;
    line-height: 2;
    /*font-size: 10px;*/
}

#aboutSmall {
  letter-spacing: 0.4px;

  font-family: "Avenir Next";
  font-weight:100;
    line-height: 2;
    /*font-size: 6px;*/
}

#more{
  font-family: "Avenir Next";
  font-weight:300;
    line-height: 2;
    /*font-size: 10px;*/
}

.infoContainer {
  /*border: solid blue 2px;*/
  margin: 0 auto;
  padding-top: 3cm;
  padding-bottom: 1cm;

  width: 50%;
  text-align:justify;
      font-size: 10px;
}


.infoContainerSmall {
  padding-top: 0.5cm;
  margin: 0 auto;
  width: 70%;
  text-align:justify;
      font-size: 5px;
}


.wrapper {

}

.profileCss {
  margin: 0 auto;

  width: 25%;
  /*border: solid blue 1px;*/
  /*height: 300px;*/
  /*border-radius: px;*/
  filter: grayscale(100%);
}

.profileCssSmall {
  margin: 0 auto;
    width: 30%;
  /*margin-left: -1cm;*/

  /*border-radius: px;*/
  filter: grayscale(100%);
}



.contact {
  font-family: "Avenir Next";
  font-weight:200;

    /*font-size: 10px;*/
}




#number {
  letter-spacing: 2px;
}

.contactContainer {
  /*padding-top: 17%;*/
  padding-top: 1%;
  /*padding-top: 95%;*/
      font-size: 10px;

}


.contactContainerSmall {
      font-size: 6px;
}




#email {
  text-decoration: none;
  color: black
}

#email:hover {
  color: red;
}

#github {
  text-decoration: none;
  padding-left: 0.2cm;

}

#github:hover {
  color: red;
}






.slideShow {
  /*justify-content: space-around;*/
  padding-top: 3.2cm;
  padding-bottom: 3.2cm;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  /*background-color: pink;*/
  align-items: center;
  justify-content: center;

}

.slideShowPic {
  padding: 0.35cm;
  width: 20%;
}
