.MediaQueryAbout {
  /*margin: 0 auto;
  display: flex;
  flex-direction: column;*/
  /*border: solid pink 1px;*/
  width: 100%;
  /*margin-top: 13%;*/
  margin: 0 auto;
  padding-top: 3cm;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  animation-duration: 0.7s;
    -vendor-animation-duration: 0.7s;
  -vendor-animation-delay: 0.7s;

/*scroll-snap-destination: 400px 600px;*/

}

.MediaQueryAboutSmall {
  /*margin: 0 auto;
  display: flex;
  flex-direction: column;*/
  /*border: solid blue 1px;*/
  width: 90%;
  /*margin-top: 13%;*/
  margin: 0 auto;
  padding-top: 10px;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  animation-duration: 0.7s;
    -vendor-animation-duration: 0.7s;
  -vendor-animation-delay: 0.7s;

/*scroll-snap-destination: 400px 600px;*/

}


.bg-black {
/*border: solid blue 2px;*/
}


.wrapper {
/*border: solid blue 2px;*/
/*width: 10%;*/
  /*scroll-snap-type: mandatory;
scroll-snap-destination: 0% 100%;
scroll-snap-points-x: repeat(100%);
scroll-snap-align:*/
}










#enno {

font-family: "Avenir Next";
font-weight: 500;
line-height: 2;
margin: 0 auto;
/*font-size: 10px;*/

}

#ennoSmall {
  font-family: "Avenir Next";
  font-weight: 500;
  line-height: 2;
  /*font-size: 10px;*/
}

#about {
  letter-spacing: 0.8px;

  font-family: "Avenir Next";
  font-weight:200;
    line-height: 2;
    margin: 0 auto;


/*border: solid green 2px;*/
    /*font-size: 10px;*/
}

#aboutSmall {
  letter-spacing: 0.4px;

  font-family: "Avenir Next";
  font-weight:100;
    line-height: 2;
    /*font-size: 6px;*/
}

#more{
  font-family: "Avenir Next";
  font-weight:300;
    line-height: 2;
    /*font-size: 10px;*/
}

#infoContainer {


  /*-vendor-animation-duration: 3s;
  -vendor-animation-delay: 2s;*/
  /*-vendor-animation-iteration-count: infinite;*/

  margin: 0 auto;
  /*padding-top: 5cm;*/
  /*padding-bottom: 1cm;*/

display: flex;
justify-content: center;
align-content: center;
  width: 54%;
  text-align:justify;
      font-size: 14px;
color: black;

/*border: solid blue 2px;*/

}
#infoContainerSmall {
  margin: 0 auto;
  /*padding-top: 5cm;*/
  /*padding-bottom: 1cm;*/
/*border: solid orange 2px;*/
display: flex;
justify-content: center;
align-content: center;
  width:85%;
  text-align:justify;
      font-size: 10px;
color: black;
      /*font-size: 5px;*/
}



.infoWrapper {
  margin-top: 200px;
  padding-top:100px;
  padding-bottom:100px;
  /*height: 500px;*/
  /*border: solid green 2px;*/
  /*background: black;*/
  /*background-image:
    linear-gradient(
      to right,
      black, grey
    );*/

    /*background-image:
      linear-gradient(
        to right,
        red, #f06d06
      );*/
  display: flex;
  justify-content: center;
  opacity: 0.8;
  z-index: -1;


}


.infoWrapperSmall {
  /*margin-top: 100px;*/
  /*padding-top:100px;*/
  padding-bottom:100px;
  /*height: 500px;*/
  /*border: solid green 2px;*/
  /*background: black;*/
  /*background-image:
    linear-gradient(
      to right,
      black, grey
    );*/

    /*background-image:
      linear-gradient(
        to right,
        red, #f06d06
      );*/
  display: flex;
  justify-content: center;
  opacity: 0.8;
  z-index: -1;


}





.wrapper {

}

.imageContainer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /*width: 80%;*/
  /*border: solid blue 2px;*/
}

.profileCss {
  margin: 0 auto;

  width: 25%;
  padding-bottom: 70px;
  /*border: solid blue 5px;*/
  /*height: 300px;*/
  /*border-radius: px;*/
  filter: grayscale(100%);
}

.profileCssSmall {
  padding-top: 23%;
  margin: 0 auto;
    width: 60%;
  /*margin-left: -1cm;*/
  padding-bottom: 35px;

  filter: grayscale(100%);
}

.arrow {
  margin: 0 auto;
opacity: 0.7;

  /*padding-top: 200px;*/
  /*border: solid pink 2px;*/
}



.animation {
  margin: 0 auto;
}





.contact {
  font-family: "Avenir Next";
  font-weight:200;

    /*font-size: 10px;*/
}




#number {
  letter-spacing: 2px;
}

.contactContainer {
  /*padding-top: 17%;*/
  padding-top: 1%;
  /*padding-top: 95%;*/
      font-size: 10px;

}


.contactContainerSmall {
      font-size: 6px;
}




#email {
  text-decoration: none;
  color: black
}

#email:hover {
  color: red;
}

#github {
  text-decoration: none;
  padding-left: 0.2cm;

}

#github:hover {
  color: red;
}






.slideShow {
  /*justify-content: space-around;*/

  /*padding-top: 350px;*/
  /*padding-bottom: 3.2cm;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  align-items: center;
  /*border: solid pink 2px;*/
  justify-content: center;

}

.slideShowWrapper {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  margin: 0 auto;
  width: 75%;
  /*background-color: red;*/
  /*opacity: 0.8;*/
  z-index: -1;
/*border: solid blue 2px;*/

  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
    -vendor-animation-duration: 1.2s;
  -vendor-animation-delay: 1.2s;

/*-vendor-animation-delay: 5s;
-vendor-animation-iteration-count: infinite;*/
}

.slideShowWrapperSmall {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  margin: 0 auto;
  width: 100%;
  /*background-color: red;*/
  /*opacity: 0.8;*/
  z-index: -1;
  /*border: solid black 2px;*/



  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
    -vendor-animation-duration: 1.2s;
  -vendor-animation-delay: 1.2s;

/*-vendor-animation-delay: 5s;
-vendor-animation-iteration-count: infinite;*/
}

.slideShowSmall {
  /*justify-content: space-around;*/
  padding-top: 1.5cm;
  padding-bottom: 1.5cm;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  /*background-color: pink;*/
  align-items: center;
  justify-content: center;

}


.slideShowPic {
  padding: 0.35cm;
  width: 20%;
}


.slideShowPicSmall {
  padding: 0.1cm;
  width: 39.5%;
}


.socialContainer {
  margin: 0 auto;
  /*border: solid pink 1px;*/
  padding-top: 15%;
  padding-bottom: 1%;
  display: flex;
  flex-direction: row;

  width: 500px;
  animation-duration: 0.9s;
  -webkit-animation-duration: 0.9s;
    -vendor-animation-duration: 0.9s;
  -vendor-animation-delay: 0.9s;

}



.socialContainerSmall {
  /*border: solid pink 1px;*/
  width: 300px;
  padding-top: 5%;
  padding-bottom: 10%;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  /*flex-direction: row;*/
  margin: 0 auto;
  /*flex-wrap: wrap;*/
  /*width: 200px;*/
}



.fa {

  padding: 20px;
  font-size: 40px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  z-index: auto;
  margin: 0 auto;
  /*border: solid #1c1c1c 3px;*/
  color: #1c1c1c
    /*color: blue*/
}

.circleAbout {
  /*opacity: 0.6;*/
    /*border: solid #1c1c1c 3px;*/
    /*background-color: red;*/
}

.circleAbout:hover {
  /*opacity: 0.7;*/
  /*border: solid red 3px;*/
  color: red;
  color:   #e62535;
}

/*.fa:hover {


}*/
.link {
  margin: 0 auto;
}

.linkSmall {
  padding: 0.1cm;
}



.blogTitleContainer {
  margin: 0 auto;
  padding-top: 25%;
}

.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
   -ms-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
