/*------------------coverpage*/

/*.wrapper {
width: 100%;
height: 100%;
position: absolute;
}*/


/*.slideOutUp {
  margin: 0 auto;
  border: solid blue 2px;
  animation-name: slideOut;
  animation-duration: 1500ms;
}

@keyframes slideOut {
    from {
      transform: translate(0px,100px);
    }
    to   {
      transform: translate(100px,-1000px);
    }
}*/






/*.slideInDown {
  animation-name: slideIn;
  animation-duration: 1500ms;


}

@keyframes slideIn {
    from {
      transform: translate(0px,-1000px);
    }
    to   {
      transform: translate(0px,0px);
    }
}*/

/*MediaQueryCover*/

.coverpageWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items:center;

  flex-direction: column;
  justify-content: center;
  position: absolute;
  /*border: solid blue 2px;*/
}
.click {
  font-family: "Avenir Next";
  font-weight: 200;
  line-height: 2;
        font-size: 17px;
}

.logoAnimation {

  width: 90%;
  /*border: solid pink 2px;*/
}

.wrap {
  display: flex;
  align-items:center;
  justify-content: center;
/*position: fixed;*/
  background-color: #e62535;
  /*width: 100%;*/
  /*height: 100%;*/
  z-index: 1;
  /*margin-left: 1225px;*/
  /*border: solid black 2px;*/
  /*flex-direction: column;*/
}




.shapeContainer {
  margin: 0 auto;
  display: flex;
flex-wrap: wrap;
  /*justify-content: center;*/

  align-items: center;

flex-direction: row;


  /*width: 80%;*/
/*border:solid black 2px;*/

}

.shapeContainerSmall {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
flex-direction: column;
  /*width: 80%;*/
/*border:solid black 2px;*/
}

/*@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}*/




.symbol {
/*margin-left: 2cm;*/
  /*border: solid pink 1px;*/
margin: 0 auto;
/*padding-left: 100px;*/
width: 400px;
height: 400px;

}

.symbolSmall {
  /*border: solid pink 1px;*/
margin: 0 auto;

width: 200px;
height: 200px;
}



.symbolContainer {
  display: flex;
  /*width: 500px;*/
  /*padding: 100px;*/
/*display: flex;*/
/*justify-content: center;
align-content: center;*/
  margin: 0 auto;
    /*border: solid blue 1px;*/
    /*width: 2cm;*/
}




/*.symbol:hover {
transform: scale(3,3);

}*/



#k1{

    margin: 0 auto;
  transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  transition: transform 3s;
    -webkit-transition: transform 3s;
}

#k1:hover {
      margin: 0 auto;
      transform: rotate(-360deg);
        /*-webkit-transform: rotate(360deg);*/
}




#k2{
    margin: 0 auto;
      transition: transform 3s;
        -webkit-transition: transform 3s;
}

#k2:hover {
  margin: 0 auto;
      transform: rotate(360deg);
        /*-webkit-transform: rotate(-360deg);*/
}

/*scale(80,80);*/



#k3{
      margin: 0 auto;
  transition: transform 3s;
    -webkit-transition: transform 3s;

  transform: rotate(-135deg);
    -webkit-transform: rotate(135deg);

}

#k3:hover {
      margin: 0 auto;
      transform: rotate(-360deg);
        /*-webkit-transform: rotate(460deg);*/
}

/*@-webkit-keyframes test {
    from {background-color: white;}
    to {background-color: black;}
}*/








/*.enter {
  border: solid pink 1px;
  z-index: -1;
  text-decoration: none;
  color: white;
  padding-top: 5cm;
  position: absolute;
  font-family: "Bauhaus 93";
  font-weight:200;
    line-height: 2;
    font-size: 50px;
    letter-spacing: 45px;
}

.enter:hover {
    font-weight:300;
}*/
