/*@import url(http://fonts.googleapis.com/css?family=Roboto);*/

#testoo{
  /*transition: transform 1s;
    transition: font 0.3s ease;
    transition: transform 0.3s ease-out;*/
      /*transform-origin: 0% 0%;*/
}

.hvr-grow {
  /*transition: transform 1s;*/
    /*transition: font 0.3s ease;
    transition: transform 0.3s ease-out;*/
  /*display: inline-block;
  vertical-align: middle;*/
  /*color: pink;*/
  /*transform: font-size(20px);*/
  /*transition: font-size 20px;*/
  transform: translateX(-0.01%) translateY(-70%);
  /*transform-origin: 50% 50%;*/
  /*transform: scale(2);*/
  transition-duration: 0.5s;
}

.hvr-shrink {
  /*transform: translateX(-0%) translateY(-0%);*/
  transition-duration: 0.5s;
}


/*@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  33.3% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
  49.95% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  66.6% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  83.25% {
    -webkit-transform: translateY(-1px);
    transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}*/
.hvr-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(0.5px) translateZ(0);
  /*transform: perspective(10px) translateZ(0);*/
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  /*-webkit-animation-iteration-count: 1;*/
  animation-iteration-count: 5;
}




.navConatiner {
  /*border: solid pink 2px;*/


}

.MediaQueryNav {
  display: flex;
  padding-top: 1.2cm;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}


.MediaQueryCover {
  display: flex;
  align-items:center;
  /*flex-direction: column;*/
  justify-content: center;
  position: absolute;
  /*background-color: white;*/
  /*background-color: #1c1c1c;*/
  background-color: #e62535;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.logoImg {
  /*border: solid black 1px;*/
  width: 50%;
  height: 50%;
  margin: 0 auto;

}


.logoImgSmall {
  width: 25%;
  height: 25%;
  margin: 0 auto;
  margin: 0 auto;
}


#workNav {
  /*border: solid black 1px;*/

  display: flex;
  flex-direction: row;
  color: black;
  letter-spacing: 7px;
   text-transform: uppercase;;
  text-decoration: none;
  padding-left: 27%;
  margin: 0 auto;
  font-size: 11pt;
  font-family: "Avenir Next";
}

#workNavSmall {
  display: flex;
  flex-direction: row;
  color: black;
  letter-spacing: 5px;
   text-transform: uppercase;;
  text-decoration: none;
  padding-left:12%;
  margin: 0 auto;
  font-size: 6pt;
  font-family: "Avenir Next";
}



#aboutNav {
  text-decoration: none;

  color: #1c1c1c;
  letter-spacing: 7px;
 text-transform: uppercase;
  /*border: solid black 1px;*/
  padding-right: 27%;
  margin: 0 auto;
    font-size: 11pt;
    font-family: "Avenir Next";
}

#aboutNavSmall {
  text-decoration: none;

  color: #1c1c1c;
  letter-spacing: 5px;
 text-transform: uppercase;
  /*border: solid black 1px;*/
  padding-right: 12%;
  margin: 0 auto;
    font-size: 6pt;
    font-family: "Avenir Next";
}



.redO {
  /*border: solid blue 1px;*/
  margin: 0 auto;
  color: #1c1c1c;
}


/*.o{
  border: solid green 1px;
  display: flex;
  flex-direction: row;
}*/

#deactiveO{
  /*border: solid blue 1px;*/
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}



.logoContainer {
  width: 2cm;
  /*background-color: pink;*/
}




/*------------------coverpage*/

/*.wrapper {
width: 100%;
height: 100%;
position: absolute;
}*/




.shapeContainer {
  margin: 0 auto;
  display: flex;

  justify-content: center;

  align-items: center;

flex-direction: row;


  width: 80%;
/*border:solid black 2px;*/

}

.shapeContainerSmall {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
flex-direction: column;
  width: 80%;
/*border:solid black 2px;*/
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}




.symbol {

  /*border: solid pink 1px;*/
margin: 0 auto;
width: 50%;

}

.symbolSmall {
  /*padding: 0.4;*/
  margin: 0 auto;
  width: 60%;
}



.symbolContainer {
  /*padding: 100px;*/
/*display: flex;*/
/*justify-content: center;
align-content: center;*/
  margin: 0 auto;
    /*border: solid blue 1px;*/
    /*width: 2cm;*/
}




/*.symbol:hover {
transform: scale(3,3);

}*/



#k1{
    /*border: solid black 2px;*/
  /*padding-right:1.8cm;*/
  /*margin: 0 auto;*/
  transform: rotate(-45deg);
    transition: transform 3s;
}

#k1:hover {
      transform: rotate(360deg);


}

#k2{
      transition: transform 3s;
  /*padding-right: 10cm;*/
  /*padding-left: 1.8cm;*/
}

#k2:hover {
      transform: rotate(-360deg);

}

#k3{
  transition: transform 3s;
  /*padding-left: 10.8cm;*/
  /*border: solid black 2px;*/
  transform: rotate(135deg);
}

#k3:hover {
      transform: rotate(460deg);

}

/*@-webkit-keyframes test {
    from {background-color: white;}
    to {background-color: black;}
}*/


.wrap {
  display: flex;
  align-items:center;
  justify-content: center;
position: fixed;
  background-color: #e62535;
  width: 100%;
  height: 100%;
  z-index: 1;
  /*flex-direction: column;*/
}





/*.enter {
  border: solid pink 1px;
  z-index: -1;
  text-decoration: none;
  color: white;
  padding-top: 5cm;
  position: absolute;
  font-family: "Bauhaus 93";
  font-weight:200;
    line-height: 2;
    font-size: 50px;
    letter-spacing: 45px;
}

.enter:hover {
    font-weight:300;
}*/
