/*@-webkit-keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.hvr-wobble-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-wobble-horizontal:hover, .hvr-wobble-horizontal:focus, .hvr-wobble-horizontal:active {
  -webkit-animation-name: hvr-wobble-horizontal;
  animation-name: hvr-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


.hvr-buzz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}*/


/*.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db; /
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}*/


/*.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.3);
  transform: scale(1.1);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}*/


.pageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  padding-bottom: 10px;
}





.MediaQuery {
  margin: 0 auto;
  /*border: solid blue 3px;*/
  padding-top: 1cm;


  /*z-index: -1;*/
  display: flex;
  justify-content: center;

  align-items: center;
  /*flex-direction: row;*/
  flex-wrap: wrap;

  width: 80%;
}

.projectsWrapper {
  margin: 0 auto
  /*border: solid green 2px;*/
  /*position: fixed;*/
}


.coverContainer {
  /*padding-top: 1cm;*/
    margin: 0 auto;
  /*display: flex;
  justify-content: space-between;
  align-items: center;
  align-content:center;
  flex-wrap: wrap;*/
   -webkit-animation: fadein 1.2s;
  /*width: 80%;*/




  /*height: 500px;
  border: solid black 1px;
  background-color: pink;
  text-align: center;
  background-color: pink;
  animation: fadein 0.s;
  flex-direction: row;
    z-index: -1;*/

}

.coverStatus {
      /*padding-top: 12px;*/
  /*transition-delay: 1;
  /*padding:0.35cm;*/
  /*border: solid pink 2px;*/
  margin: 0 auto;
  opacity: 1;
      /*opacity: opacity 0.2s;*/
  /*width: 250px;*/
  width: 100%;
  /*height: 100%;*/
  /*z-index: -100;*/
  /*visibility: visible;*/
      transition: transform 0.2s;
      /*border: solid white 2px;*/

     /*transition: opacity .25s ease-in-out;*/

     transition: opacity 0.25s ease-in-out;

}




.p1, .p2, .p3, .p4, .p5, .p6, .p7, .p8, .p9, .p10, .p11, .p12 {
  /*transition: transform 0.2s;*/
  /*background: black;*/
  /*transition: opacity 1s ease-in-out;*/
  /*filter: alpha(opacity=50);*/
      /*transform: scale(0, 0);*/

        opacity: 0.6;
    animation-name: coverAnimation;
        animation-duration: 2000ms;
        /*zoom:4px;*/
    /*border: solid white 2px;*/
    transition: opacity 0.25s ease-in-out;
/*z-index: -1;*/
  /*filter: blur(1.2px);*/

  /*background-color: pink;*/
  margin: 0 auto;
  /*padding: 12px;*/
  width: 100%;
  /*height: 100%;*/

  /*z-index: 10;*/
  /*visibility: hidden;*/
/*transform: scale(0.5, 0.5);*/
  /*transition-delay: 1;*/
  /*padding:0.35cm;*/
}



/*@keyframes coverAnimation{
  from {
    transform: scale(1,1);
    opacity: 1;
  }
  to {
    transform: scale(0,0);
    opacity: 0;
  }
}*/





.coverContainerNoHover {
  /*margin-top: 12px;*/
    /*border: solid white 2px;*/
/*background: white;*/
  width: 250px;
  height: 250px;
  display: flex;
  margin: 0 auto;
  /*border: solid white 2px;*/
    background: red;
      animation-duration: 1s;
      animation-iteration-count: infinite;

/*z-index: -1;*/
  /*z-index: 99;*/
  /*border: solid brown 2px;*/
}

.coverHoverContainer {
    animation-duration: 1s;
    /*animation-iteration-count: infinite;*/
  /*filter: blur(2px);*/
/*z-index: -11;*/
  /*opacity: 0.8;*/
  /*visibility: visible;*/
  width: 250px;
  height: 250px;
  display: flex;

    /*padding: 12px;*/

  margin: 0 auto;
  /*z-index: 99;*/
  /*border: solid white 2px;*/
  background: red;
}


.coverWrapper {


  padding-top: 33px;
  margin: 0 auto;
  display: flex;
}



.coverStatus:hover {
  /*border: solid pink 1px;*/

  /*background: black;*/
    /*opacity: 0.8;*/

  /*transform:  translate(-70px, 0px);*/
    /*transform:  scale(0.9);*/
  /*scale(1.5)*/
  /*border-radius: 30px;*/
  /*transition-delay: 2;*/
    /*transition-delay: 2s;*/
}

.imgContainer:hover {

}










/*.linkProject {
  text-decoration: none;
  color: black;
}*/


@-webkit-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}


/*
  img {
    width: 10%;

  }*/
  /*.center {
    margin-left: -40px;
    margin-right: -40px;
    margin: 0 auto;

  }*/
  /*.center .slick-center img {*/
    /*margin: 0 auto;*/
    /*opacity: 0.4;*/
    /*border:solid pink 1px;*/
    /*transform: scale(1);
    opacity: 1;*/
    /*width: 60%;*/
    /*transform: width 2s, height 2s*/
    /*transform:scale(0.2);*/
    /*transform-origin:0 0;*/
  /*}*/





  .center img {
    /*border: solid green 1px;*/
    /*opacity: 0.8;*/
    /*transform: scale(0.7);
    transition-delay: 0.5s;*/

      /*transform: width 2s, height 2s*/
    /*transition: all 200ms ease;*/

  }



/*.projDescription {
    visibility: hidden;
    opacity: 0;
  transition: opacity .20s ease-in-out;
  }*/


    /*.center .slick-center .projDescription {
      position: relative;
      opacity: 1;
      transition: all 20ms ease;
      text-align: center;
      margin-left: -16%;
      visibility: visible;
      opacity: 1;
      transition-delay: 0.5s;
      font-family: "Avenir Next";
        font-weight:200;
      font-weight:450;
      font-size: 14px;
      word-spacing: 2px;
      margin-top: 4.5cm;
      line-height: 1.8;

    }*/

        /*.title {
              font-weight:400;
        }*/

  /*.center .slick-center .projDescription:hover {
    opacity: 0.4;
    transition-delay: 0.01s;

  }*/


/*.center .slick-center img:hover {
  opacity: 0.7;
  border-radius: 20px;
  transition-delay: 2;
}*/



/*.forward {

background-color: pink;
width: 1cm;
height: 1cm;
margin-left: 2cm;


}

.backward {
background-color: pink;
width: 1cm;
height: 1cm;
}*/
